@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(22, 158, 17);
}
h1#principal {
    text-align: center;
}
h2, h3, h4 {
    color: rgb(4, 73, 2);
}
